body{
	background-color: #27348b;
}
header{
	width: 1300px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}


#list8 {  
	margin: 0 auto;

}
#list8 ul{ 
	list-style:none;
 }
#list8 ul li {
 		font-family:Georgia,serif,Times; 
		font-size:25px; 
}
#list8 ul li a 
{ display:block; 
	width:1200px; 
	height:30px; 
	background-color:#000; 
	border-left:5px solid #222; 
	border-right:5px solid #222; 
	padding-left:10px;
   	text-decoration:none; 
  	color:#fff;
   }
#list8 ul li a:hover{  
	-moz-transform:rotate(-5deg); 
 	-moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(-5deg); 
  	box-shadow:10px 10px 20px #000000; 
}



.main{
	width: 1300px;
	height: 3350px;
	margin: 0 auto;
	padding-top: 50px;
	background-color: #000;
}

.class1{
	width: 1300px;
	height: 700px;
	background-image: url(../image/home.gif); 
	margin: 0 auto;
	padding-top: 100px;
}
.class1-word1{
	width: 1000px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	font-family:Georgia,serif,Times; 
	font-size: 25px;
	color: #fff;


}
.class1-word2{
	width: 520px;
	height: 100px;
	font-family:Georgia,serif,Times; 
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #fff;
	
}
.pic{
	width: 100px;
	height:120px;
	margin: 0 auto;
}
.about{
	width: 700px;
	height: 350px;
	background-color: #000;
	margin: 0 auto;
	text-align: center;
	font-family:Georgia,serif,Times; 
	padding-top: 40px;
	font-size: 18px;
	font-style: none;
}





.work{
	width: 1250px;
	height: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	font-family:Georgia,serif,Times; 
	font-size: 20px;
	color: #fff;
	padding-top: 30px;
}
.code{
	width: 600px;
	height: 300px;
	float: left;
	margin: 0 auto; 
}

.desc1{
	width: 600px;
	height: 300px;
	float: right;
	font-family:Georgia,serif,Times; 
	margin: 0 auto; 

}

.design{
	width: 600px;
	height: 300px;
	float: left;
	margin: 0 auto; 

}
.desc2{
	width: 600px;
	height: 300px;
	float: left;
	font-family:Georgia,serif,Times; 
	margin: 0 auto; 


}
hr{
	width: 300px;
	border-color: yellow;
	height: 2px;
}

footer{
	width: 1300px;
	height: 150px;
	font-size: 25px;
	}


		/*about starts here*/

.simple{
	width: 800px;
	height: 150px;
	font-style: none;


}

.websites{
	width: 1100px;
	height: 800px;
	margin-left: 60px;
	margin:30px;
	float:right;
	border: bold;
	background-color: #fff;
	
}

.contact{
	width: 400px;
	height: 150px;
	background-color: #000;	
	margin: 0 auto;
	color: #fff;
	padding-left: 100px;
	font-family:Georgia,serif,Times; 
}
